<!doctype html>
<title>{% block title %}{% endblock %} - Search with Machine Learning</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  
  <a href="{{ url_for("query") }}"><img height=70 align="left" style="margin-left:20px" alt="Search With Machine Learning" src="https://avatars.slack-edge.com/2022-01-10/2929688218117_519cebf035d9c20fad15_88.png"/></a>

</nav>
<section class="content">
  <header id="main-header" class="header">
    {%include 'search_box.jinja2' %}
  </header>
  <body>{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}</body>
</section>
<section class="footer">
  {% block footer %}
    <div id="main-footer" class="footer">
      <div>Copyright Daniel Tunkelang and Grant Ingersoll. 2022</div>
    </div>
  {% endblock %}
</section>