/* Search stylings */
#search-box {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: whitesmoke;
}

#did-you-mean {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#query{
    width: 400px;
}

/* See https://css-tricks.com/snippets/css/complete-guide-grid/ for details on grid */
#all-results {
    display: grid;
    grid-template-columns: 280px 90%;
    grid-template-rows: 100px;
    grid-column-gap: 15px;
}

.search-results {

}

.search-result{
    margin-bottom: 10px;
}

.search-result > img{
    padding-left: 50px;
}

.search-result-odd{
    background: whitesmoke;
}

.search-result-name {
    /* font-size: x-large; */
    font-weight: bold;
    padding-bottom: 5px;
}


#applied-filters{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-meta-container {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column: 1/span 2;
    justify-self: center;
    
}

.aggregation{
    padding: 2px;
    font-size: smaller;
}
#aggregations-container{
    grid-row-start: 2;
}

#search-results-container{
    grid-row-start: 2;
}

.aggregations-result{
    margin-bottom: 10px;
}

.agg-header{
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 8px;
    background-color: whitesmoke;
}

.search-result-header, .filter-header{
    font-weight: bold;
}
.debug{
    font-family: monospace;
    padding-bottom: 10px;
}
/*
Debug
*/
#debug{
    grid-row-start: 3;
    grid-column-start: 2;
}

#debug-response{
    display: none;
}

/*
Headers and footers

*/
#header-content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(221, 54, 54);
    border-radius: 4px;
    box-sizing: border-box;
  }
 select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(47, 50, 235);
    border-radius: 4px;
    box-sizing: border-box;
  }